<nav>
    <div class="nav-container">
        <div class="nav-logo">
            <a href="/">{{ site.title }}</a>
        </div>
        <ul class="nav-links">
            {% for item in site.data.nav %}
                <li><a href="{{ item.link }}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
        <a class="mobile-menu-toggle"></a>
        <ul class="mobile-menu menu">
            <li><a href="/" class="no-tufte-underline">{{ site.title }}</a></li>
            {% for item in site.data.nav %}
                <li><a href="{{ item.link }}" class="no-tufte-underline">{{ item.name }}</a></li>
            {% endfor %}
            <li data-action="close-menu"><a class="no-tufte-underline"><em>Close menu</em></a></li>
        </ul>
    </div>
</nav>