.container {
    padding: 30px 15px;
}

nav {
    background: #fff6ff;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10;
}

.mobile-menu.show {
    display: block;
}

hr {
    margin: 2rem 0;
    border: 0;
    border-top: 1px solid #a8a8a8;
}

ul.indented {
    margin-left: 1rem;
    list-style-type: disc;
}

.card-actions {
    display: block !important;
}

.card-actions li {
    display: inline-block;
}

.card-actions a {
    font-weight: bold;
}

img {
    width: 100%;
}

img.profile {
    width: 80%;
    border-radius: 1000px;
}

.mb-0 {
    margin-bottom: 0;
}

.tags {
    margin-top: .75rem;
}

.tag {
    margin-top: .25rem;
    padding: .25rem .5rem !important;
    font-size: .8rem !important;
    font-style: italic;
}

a.button-primary {
    padding: .5rem 1rem;
    border-radius: 3px;
}

.copyright {
    padding: 0 !important;
    border: 0 !important;
}